---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Meet the Choreos - Contact/Sponsor";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Contact/Sponsor</h1>
    <p>Instagram: @megamaalai</p>
  </div>
</BaseLayout>
