---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Meet the Acts - Timeline";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Timeline</h1>
    <p>This is just an example page</p>
  </div>
</BaseLayout>
